<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  	<parameter name="browser" value="Remote"/>
	<parameter name="username" value="zahrateststumblr@mailinator.com"/>
	<parameter name="password" value="testpass123"/>
    <classes>
      <class name="test.java.testObjects.LogInTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
